.col-md-12 {
    margin-top: 5%;
    margin-bottom: 7%;
}

.col-md-6 {
    margin: auto 0;
}

footer {
    background-color: rgba(7, 7, 7, 0.7);
    padding: 15px;
    color: white;
}

.container {
    margin-bottom: 5%;
}

i {
    font-size: 28px;
    color: white;
}

.text-center {
    margin-top: 10%;
}